.box {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 600px;
    max-width: 100%;
    height: auto;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 16px;
    align-items: center;

    &.correct {
        border: 1px solid green;
    }

    &.fail {
        border: 1px solid red;
    }

}

.tag {
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    color: black;
    font-size: 14px;
    margin-right: 8px;
    margin-bottom: 5px;
}